<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Springbudget | Login</title>
</head>
<body>
    <h1>Login</h1>
    <p>Don't have an accout? <a href="/register">Click here!</a></p>
    <div>
        <form method="POST" action="/login">
            <label for="username">Username: </label>
            <input type="text" name="username" placeholder="Enter Username">
            <label for="pword-m">Password: </label>
            <input type="password" name="password" placeholder="Enter Password">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>