<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete | SpringBudeget</title>
</head>
<body>
    <div>
        <form action="/del/<% data.id %> " method="POST">
            <div>
                <label for="id">ID: </label>
                <input type="text" name="id" placeholder="Please enter item ID">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>