<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Springbudget | Register</title>
</head>
<body>
    <h1> 
        Welcome to Spring Budget
    </h1>
    <div> 
        <p>Please complete the registration form below to create an account</p>
    </div>    
    <div>
        <form method="POST" action="/register">
            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="Enter Email address">
            <label for="inputPassword">Password: </label>
            <input type="password" name="inputPassword" placeholder="Enter password">
            <label for="confirmPassword">Confirm Password: </label>
            <input type="password" name="confirmPassword" placeholder="Enter password again">
            <button type="submit">Submit</button>
        </form>
        <div>
            <p>Already have an account? <a href="/login">Click Here!</a></p>
        </div>
    </div>
</body>
</html>